<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">

	<resultMap id="mainResult" type="MainPage">
		<result column="main_instar_address" property="mainInstarAddress" />
		<result column="main_admin_name" property="mainAdminName" />
		<result column="main_admin_intro" property="mainAdminIntro" />
		<result column="main_photo_origin" property="mainPhotoOrigin" />
		<result column="main_photo_change" property="mainPhotoChange" />
		<result column="main_icon_origin" property="mainIconOrigin" />
		<result column="main_icon_change" property="mainIconChange" />
	</resultMap>
	
	<select id="selectMain" resultMap="mainResult">
		select
			   main_instar_address
			 , main_admin_name
			 , main_admin_intro
			 , main_photo_origin
			 , main_photo_change
	      from main
	</select>
	
	<update id="updateMain">
		update
		       main
		   set main_instar_address = #{mainInstarAddress}
			 , main_admin_name = #{mainAdminName}
			 , main_admin_intro = #{mainAdminIntro}
			 , main_photo_origin = #{mainPhotoOrigin}
			 , main_photo_change = #{mainPhotoChange}
	     where main_no = 1
	</update>

</mapper>