<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResult" type="Member">
		<result column="mem_no" property="memNo" />
	  	<result column="mem_name" property="memName" />
	  	<result column="mem_email" property="memEmail" />
	  	<result column="mem_pwd" property="memPwd" />
	  	<result column="mem_instar_id" property="memInstarId" />
	  	<result column="mem_enroll_date" property="memEnrollDate" />
	  	<result column="mem_state" property="memState" />
	</resultMap>
	
	<!-- 로그인 기능 -->
	<select id="loginMember" resultMap="memberResult">
		select
		       mem_no
			 , mem_name
			 , mem_email
			 , mem_pwd
			 , mem_instar_id
			 , mem_enroll_date
			 , mem_state
		  from member
		 where mem_email = #{memEmail}
		   and mem_pwd = #{memPwd}
	</select>
	
	<!-- 회원가입 기능 -->
	<insert id="signupMember">
		insert
		  into member
		  (
            mem_no		  
		  , mem_name
		  , mem_email
		  , mem_pwd
		  , mem_instar_id
		  , mem_enroll_date
		  , mem_state
		  )
		  values
		  (
		    seq_memno.nextval
		  , #{memName}
		  , #{memEmail}
		  , #{memPwd}
		  , #{memInstarId}
		  , default
		  , 2
		  )
	</insert>

	<!-- 이메일 중복 확인 기능 -->
	<select id="confirmEmail" resultType="_int">
		select
			   count(*)
	      from member
	     where mem_email = #{email}
	</select>
	
	<!-- 이메일 찾기 기능 -->
	<select id="selectEmail" resultMap="memberResult">
		select 
		       mem_email
		  from member
		 where mem_name = #{memName}
		   and mem_instar_id = #{memInstarId}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="selectPwd" resultMap="memberResult">
		select
		       mem_pwd
		  from member
		 where mem_email = #{memEmail}
		   and mem_name = #{memName}
		   and mem_instar_id = #{memInstarId}
	</select>





</mapper>