<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="portfolioMapper">

	<resultMap id="portfolioResult" type="Portfolio">
		<result column="port_no" property="portNo" />
		<result column="port_text" property="portText" />
		<result column="port_origin_photo" property="portOriginPhoto" />
		<result column="port_change_photo" property="portChangePhoto" />
		<result column="port_category" property="portCategory" />
	</resultMap>
	
	<!-- portfolio 페이지 select 기능 -->
	<select id="selectPortfolio" resultMap="portfolioResult">
		select
			   port_no
			 , port_text
			 , port_origin_photo
			 , port_change_photo
			 , port_category
		  from portfolio
	</select>
	
	<!-- portfolioAdd 페이지 insert 기능 -->
	<insert id="insertPortfolio">
		insert
		  into portfolio
		  (
		    port_no
		  , port_text
		  , port_origin_photo
		  , port_change_photo
		  , port_category  
		  )
		  values
		  (
		    seq_portno.nextval
		  , #{portText}
		  , #{portOriginPhoto}
		  , #{portChangePhoto}
		  , #{portCategory}  
		  )
	</insert>
	
	<!-- portfolioUpdateForm 페이지 select 기능 -->
	<select id="selectPortfolioUpdateForm" resultMap="portfolioResult">
		select
		       port_no
		     , port_text
		     , port_origin_photo
		     , port_change_photo
		     , port_category
		 from portfolio
		where port_no = #{portNo}
	</select>
	
	<!-- portfolioUpdateForm 페이지 update 기능 -->
	<update id="updatePortfolio">
		update
		       portfolio
		   set port_text = #{portText}
		     , port_origin_photo = #{portOriginPhoto}
		     , port_change_photo = #{portChangePhoto}
		     , port_category = #{portCategory}
		 where port_no = #{portNo}
	</update>
	
	<!-- portfolio 페이지 delete 기능 -->
	<delete id="deletePortfolio">
		delete
		  from portfolio
		 where port_no = #{portNo}
	</delete>
	
	
	
	
	
	
	
</mapper>
